<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
  <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  <add key="SearchAThing-old1" value="https://www.myget.org/F/searchathing-old1/api/v3/index.json" />
  <add key="ImageSharp" value="https://www.myget.org/F/imagesharp/api/v3/index.json" />
</packageSources>
</configuration>